In [1]:
import pandas as pd

In [34]:
df = pd.read_csv("description-parragraph-us.amazon.nova-micro-v1_0.csv")
df.head(1)

,descripcion_original,descripcion_generada,id,nombre
0,Descubre la emoción de lo inesperado con el Tu...,Sumérgete en la magia del descubrimiento con e...,4188155,Tubo con 2 Figuras Sorpresa

In [35]:
out = pd.DataFrame({})

In [37]:
out["generated_description"] = df["descripcion_generada"]
out["product"] = df["id"]
out["model"] = 1

In [38]:
out.head()

                               generated_description  product  model
0  Sumérgete en la magia del descubrimiento con e...  4188155      1
1  Sumérgete en la emocionante aventura con las 5...  4188278      1
2  Sumérgete en el mundo de los superhéroes con e...  4187835      1
3  Sumérgete en la emocionante aventura de los su...  4187834      1
4  Sumérgete en un mundo de creatividad y natural...  4187832      1

In [39]:
out.to_csv("micro.csv", index=False)